.window {
    display: flex;
    /*height: 678px;*/
    justify-content: center;
    align-items: center;
}

.greet-message-box {
    display: flex;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
}

.login-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
}

.login-widget > .logo{
    
}

.login-widget > .logo > svg{
    width: 96px;
    height: 96px;
}

.login-widget > form{
    margin: 16px;
}

.login-widget > form > .login-controls{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 64px;
    height: 32px;
}

#loginBtn{
    color: lightgrey;
    background-color: forestgreen;
    border: .25px solid lightgrey;
}

#registerBtn{
    color: forestgreen;
    background-color: lightgrey;
    border: .25px solid forestgreen;
}

.remember-me{
    display: block;
    margin-left: 4px;
    font-size: 9px !important;
}

.remember-me > input{
    vertical-align: text-bottom;
    margin: 0;
    width: 16px;
    height: 16px;
    outline: none;
}













