@font-face {
    font-family: "menu";
    src: url(../fonts/menu.svg) format("svg");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.icon{
    font-family: "menu";
    display: inline-block;
}

.icon-menu::before{
    content: url("../fonts/menu.svg");
}

